body {
background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

/* landing page */
.left-container {
  background-color: #e3f2fd;
}

.right-container {
  background-color: #ffffff;
}

.left_img {
   width: 100%;
  height: 90vh;   /* keeps image ratio */
  display: block; 
  border-radius: 40px;
    box-shadow: 0 4px 15px rgb(255, 255, 255);
   
}

.brand{
  color: rgb(0, 255, 255);
}




.btn {
  /* margin: 100px; */
  /* padding: 15px 40px; */
  border: none;
  outline: none;
  color: #181616;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ede6e6;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}
.email ,.password{
  width: 400px;
  margin-left: 80px;
}

.scale-container {
  transform: scale(0.7); /* 105% */
}

/* .signin-form{
   border-left: 16px solid rgb(255, 132, 0);
   background-color: rgb(222, 170, 14);
} */

/* dashboard  */


/* MAIN BACKGROUND */
.main-container {
  min-height: 100vh;

  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GLASS CARD */
.p1-container {
  width: 320px;
  background: rgba(255, 255, 255, 0.25);
  /* -webkit-backdrop-filter: blur(10px); */
  /* backdrop-filter: blur(10px); */
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

/* IMAGE */
.img-inner {
  width: 200px;
}

/* TEMPERATURE */
.temp h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

/* INFO ROW */
.info {
  font-size: 14px;
  font-weight: 500;
}


